<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto">

<!--    <li class="nav-item active">-->
<!--      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" href="#">Link</a>-->
<!--    </li>-->

    <% if user_signed_in? %>
      <li class="nav-item dropdown pc-menu">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", method: :delete %>

<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->

        </div>
      </li>
      <li class="mobile-menu">
        <li class="nav-item mobile-menu">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item mobile-menu">
          <%= link_to "Logout", destroy_user_session_path, class: "nav-link", method: :delete %>
        </li>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", login_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign Up", signup_path, class: "nav-link" %>
      </li>
    <% end %>

<!--    <li class="nav-item">-->
<!--      <a class="nav-link disabled" href="#">Disabled</a>-->
<!--    </li>-->

  </ul>

<!--  <form class="form-inline my-2 my-lg-0">-->
<!--    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--  </form>-->

</div>